.collision {
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.5;
}

#block-1 {
    width: 595px;
    height: 100px;
}

#block-2 {
    top: 100px;
    width: 40px;
    height: 80px;
}

#block-3 {
    left: 321px;
    top: 100px;
    width: 274px;
    height: 10px;
}

#block-4 {
    top: 320px;
    width: 170px;
    height: 10px;
}

#block-5 {
    left: 295px;
    top: 310px;
    width: 60px;
    height: 10px;
}

#block-6 {
    left: 355px;
    top: 170px;
    width: 446px;
    height: 165px;
}

#block-7 {
    left: 675px;
    top: 335px;
    width: 126px;
    height: 175px;
}

#block-8 {
    left: 675px;
    top: 560px;
    width: 125px;
    height: 40px;
}

#block-9 {
    left: 605px;
    top: 485px;
    width: 70px;
    height: 25px;
}

#block-10 {
    top: 410px;
    width: 55px;
    height: 70px;
}

#block-11 {
    top: 480px;
    width: 310px;
    height: 120px;
}

#block-12 {
    left: 310px;
    top: 410px;
    width: 90px;
    height: 130px;
}

#block-13 {
    left: 95px;
    top: 375px;
    width: 44px;
    height: 105px;
}

#block-14 {
    left: 100px;
    top: 100px;
    width: 44px;
    height: 63px;
}

#block-15 {
    left: 686px;
    top: 15px;
    width: 44px;
    height: 108px;
}